aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
cssselect==1.1.0
discord.py==1.5.1
fake-useragent==0.1.11
geographiclib==1.50
geopy==2.0.0
giphypop==0.3
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.20
html5lib==1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
igdb-api-v4==0.0.3
igdb-api-python==1.0
lxml==4.6.1
mechanize==0.4.5
mtranslate==1.6
multidict==4.7.6
numpy==1.19.4
parsedatetime==2.6
Pillow==8.0.1
psutil==5.7.3
pymongo==3.11.0
pyparsing==2.4.7
pyquery==1.4.1
python-aiml==0.9.3
pytz==2020.4
requests==2.25.0
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
sniffio==1.2.0
socks==0
soupsieve==2.0.1
speedtest-cli==2.1.2
urllib3==1.26.2
webencodings==0.5.1
wikipedia==1.4.0
yarl==1.5.1
youtube-dl==2020.11.1.1
discord-anti-spam==0.5.1
fuzzywuzzy==0.18.0
python-levenshtein==0.12.0
arrow==0.17.0
async-rediscache==0.2.0
aiodns==2.0.0
